.square {
    padding: 0;
    margin: 0;
    aspect-ratio: 1 / 1;
    flex-grow: 1;
}

.green {
    background-color: green;
}

.white {
    background-color: white;
}

.selected {
    background-color: grey !important;
}